* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(image.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Menu ocupa a parte superior da tela */
nav {
    background-color: #370d5f;
    width: 100%;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu li {
    flex: 1; /* Cada item ocupa a mesma fração do menu */
    text-align: center;
}

.menu a {
    display: block;
    padding: 10px 0;
    color: white;
    font-size: 28px;
    text-decoration: none;
    font-weight: 100;
    font-family: system-ui;
}

.menu a:hover {
    background-color: #66097236;
    border-radius: 5px;
}

/* Contêiner principal abaixo do menu */
.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 60px;
    margin-top: 10px; /* Espaço entre o menu e o contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-family: Comic Sans MS, cursive, sans-serif; 
    text-align: center;
  
    margin-bottom: 20px;
    color: #4e0664;
}
h2 {
    font-family: Comic Sans MS, cursive, sans-serif; 
   text-align: right; 
    margin-right: 20px;
    margin-bottom: 5px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

input, textarea {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #402188;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5e2ccf;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #555;
}
